<mat-sidenav-container>
  <mat-sidenav opened mode="side" fixedInViewport fixedTopGap="64">
    <mat-nav-list>
        <a mat-list-item routerLink="">
            <mat-icon matListIcon>home</mat-icon>
            <span>Home</span>
        </a>
        <a mat-list-item routerLink="produto/novo/">
            <mat-icon matListIcon>library_add</mat-icon>
            <span>Cadastrar Produto</span>
        </a>
        <a mat-list-item routerLink="estoque/movimento/">
          <mat-icon matListIcon>add_circle_outline</mat-icon>
          <span>Cadastrar Movimentação</span>
        </a>
        <a mat-list-item routerLink="estoque/movimentacoes/">
          <mat-icon matListIcon>list</mat-icon>
          <span>Listar Movimentações</span>
        </a>
        <a mat-list-item routerLink="estoque/movimentofinanceiro/">
          <mat-icon matListIcon>attach_money</mat-icon>
          <span>Listar Lucro</span>
        </a>
        <a mat-list-item routerLink="estoque/movimentoprodutoportipo/">
          <mat-icon matListIcon>money</mat-icon>
          <span>Listar Movimentação de Produtos por tipo</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-content>
</mat-sidenav-container>
