<a mat-raised-button color="warn" routerLink="../novo">
  <mat-icon>library_add</mat-icon>
  Adicionar novo Produto
</a>


<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ELETRONICO" #input>
</mat-form-field>

<table mat-table [dataSource]="produtos" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let produto"> {{produto.id}} </td>
  </ng-container>

  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef> Descricao do Produto </th>
    <td mat-cell *matCellDef="let produto"> {{ produto.descricao}} </td>
  </ng-container>

  <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo do Produto </th>
      <td mat-cell *matCellDef="let produto"> {{ produto.tipo}} </td>
    </ng-container>

  <ng-container matColumnDef="valorFornecedor">
    <th mat-header-cell *matHeaderCellDef> Valor do Fornecedor </th>
    <td mat-cell *matCellDef="let produto"> {{ produto.valorFornecedor.toFixed(2) }} </td>
  </ng-container>

  <ng-container matColumnDef="estoque">
    <th mat-header-cell *matHeaderCellDef> Estoque do Produto </th>
    <td mat-cell *matCellDef="let produto"> {{ produto.estoque }} </td>
  </ng-container>

  <ng-container matColumnDef="editar">
    <th mat-header-cell *matHeaderCellDef> Editar </th>
    <td mat-cell *matCellDef="let produto">
      <button mat-icon-button (click)="atualizar(produto.id)" matTooltip="Click to update" class="iconbutton" color="primary">

        <mat-icon aria-label="editar">edit</mat-icon>
      </button>
</td>
</ng-container>

      <ng-container matColumnDef="deletar">
        <th mat-header-cell *matHeaderCellDef> Deletar </th>
        <td mat-cell *matCellDef="let produto">
          <button mat-icon-button (click)="deletar(produto.id)" matTooltip="Click to Delete" class="iconbutton" color="warn">

            <mat-icon aria-label="deletar">delete</mat-icon>
          </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
